.header svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    
  }

  .heaeder-section.container {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}
.menu-section nav ul {
  display: flex;
  list-style: none;
}
.menu-section{
  z-index: 999;
}
.logo-section{
  z-index: 999;
}
.menu-section nav ul li
{
  padding:0 10px;
  color: white;
}
.menu-section nav ul a{
  color: white;
  text-decoration: none;
}
.menu-section nav ul li:last-child
{
  padding:0;
  color: white;
}
hr.horizontal-divider {
  margin: 7px 0;
  border: 1px solid;
  opacity: 1;
  color: white;
  transform: translate(0%, -20%);
}
.trans-button{
  background: transparent;
  color: white;
  border:none;
}