
.pop_cat-section {
    margin-top: 75px;
    margin-bottom: 75px;
}

.category-item {
    text-align: center;
    background: url(./images/tarelka.png);
    background-size: cover;
    background-position: top;
    background-color: #00A9AE;
    background-repeat: no-repeat;
    box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.4)
    ;
    
}
.link-exp{
    color: #004471;
}
.heaeder-column {
    display: grid;
    gap: 20px;
}
.category-item h4 {
    padding-top: 38px;
    color: white;
}

.category-img{
    max-width: 100%;
    padding-top: 34%;
}
.category-item a {
    text-decoration: none;
}
.category-holder{
    gap: 60px;
}
.pop-catefory-holder {
    padding: 50px 0;
}