.contact-us {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mail-section {
padding: 0 145px;
}
.absolute-slide{
    width: 49vw;
}
.slide-but {
    transform: translate(50%, 50%);
    position: absolute;
    top: 50%;
    z-index: 9;
}
form.contact_form input, textarea {
    border-radius: 10px;
    padding: 18px;
    border: 1px solid rgba(203, 213, 225, 1);
    background: rgba(248, 250, 252, 1);
}
.mail-send-button{
    background: #004471;
}
.mailer-header{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #004471;
}

.swiper-button-prev,
.swiper-button-next{
    background: rgba(255, 255, 255, 0.26);
    padding: 30px;
    border-radius: 50px;
}
.swiper-button-prev:after, .swiper-button-next:after{
    color: white;
    font-size:28px!important;
}

@media (min-width:1441px){
    .mail-section{
        padding: 0 65px;
        
    }
    .absolute-slide{
        width: 38vw;
    }
}