.contact-us {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mail-section {
padding: 0 145px;
}
.absolute-slide{
    width: 42vw;
}
.slide-but {
    transform: translate(50%, 50%);
    position: absolute;
    top: 50%;
    z-index: 9;
}