section.subscribe_section {
    max-width: 1376px;
    margin: 0 35px;
   
    background: linear-gradient(180deg, rgba(154, 145, 118, 0.1) 0%, rgba(192, 182, 145, 0.1) 25%, rgba(205, 191, 154, 0.1) 51.04%, rgba(182, 171, 137, 0.1) 75.52%, rgba(151, 140, 110, 0.1) 100%);
    border-radius: 20px;
    margin-top: 150px;
}

.subscribes.container {
    display: flex;
    align-items: center;
    padding: 44px;
}
.right-sub.col img{
    mix-blend-mode: darken;
}
@media (min-width:1441px){
    section.subscribe_section{
        margin:  150px auto 10px auto;
    }
}