section.subscribe_section {
    max-width: 1376px;
    margin: 0 35px;
   
    background: linear-gradient(180deg, rgba(154, 145, 118, 0.1) 0%, rgba(192, 182, 145, 0.1) 25%, rgba(205, 191, 154, 0.1) 51.04%, rgba(182, 171, 137, 0.1) 75.52%, rgba(151, 140, 110, 0.1) 100%);
    border-radius: 20px;
    margin-top: 150px;
}

.subscribes.container {
    display: flex;
    align-items: center;
   
}
.right-sub.col img{
    mix-blend-mode: darken;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.footer-col.col ul {
    list-style: none;
    padding-left:0!important;
    line-height: 40px;
}
.right-sub{
    display: flex;
    justify-content: center;
}

.blue-heading{
    color: rgba(0, 68, 113, 1);
}
.sub-input {
    width: 100%;
    padding: 11px;
    border-radius: 5px;
    border: none;
}

button#subscribe-button {
    position: absolute;
    right: 5px;
    border: none;
    background: rgba(0, 68, 113, 1);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

form#subscribe-form {
    position: relative;
    display: flex;
    align-items: center;
}
.footer-social {
    display: flex;
    align-items: center;
}

ul.footer-social-share {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

ul.footer-social-share li {
    border: 3px solid white;
    padding: 5px;
    border-radius: 100%;
    line-height: 1;
    filter: drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1)) drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.06));
}
ul.footer-social-share img {
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    height: 20px;
}
.left-sub.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-social p {
    padding-left: 50px;
}
@media (min-width:1441px){
    section.subscribe_section{
        margin:  150px auto 10px auto;
    }
}