
@import "../../../css/app.css";
.carousel-inner {
    z-index: -3;
    max-height: 768px;
}
.carousel.slide {
    top: -200px;
    margin-bottom: -260px;
    
}
.slider-caption.carousel-caption {
    top: 40%;
    left: 0%;
    right: 0;
    text-align: left;
}
.slider-caption.carousel-caption h3,
.slider-caption.carousel-caption p{
    width: 50%;
}

a.carousel-control-prev,
a.carousel-control-next{
    display: none;
}
.carousel-indicators {
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    left: unset;
}
.indicator-text{
    position: absolute;
    right: 10%;
    bottom: 15%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    left: unset;
    color: white;
}
.carousel-indicators [data-bs-target]{
    border: none!important;
}

.carousel-indicators button {
    background-color:#d6d6d6cd!important;
    border-radius:50%!important;
    width: 11px!important;
    height: 11px!important;
    opacity: .5!important;
}

.carousel-indicators button.active {
    background:var(--main-yellow)!important;
    border-radius:50px!important;
    width: 54px!important;
    height: 11px!important;
    opacity: 1!important;
}
