.menu-button{
    background: transparent;
    border: none;
    padding: 0;
}
.menu-button:hover{
    background: transparent;
    border: none;
    padding: 0;
}
.menu-button:active{
    background: transparent!important;
    border: none!important;
    padding: 0!important;
}
.modal-content{
    background: linear-gradient(90deg, #06797C 0%, #1E9FA3 50.86%, #01787B 98.65%)!important;
}
.modal-header{
    border-bottom: 1px solid #ffffff4d;
    
}
.modal-body{
    padding: 0!important;
}
.left-menu {
    border-right: 1px solid #FFFFFF4d;
    width: 40%;
    height: 100%;
    
}
.right-menu{
    width: 60%;
}